.text {
    overflow: scroll !important;
    margin-bottom: 30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 80%;
    width: 100%;
    outline: none;
}

.buttons {
    display: flex;
}

.buttons .FindDiff {
    padding-left: 50px;
}

.download {
    margin-left: 30px;
}